.starting-container-div
{
    margin: auto;
    height: 92%;
    width: 100% !important;
    display: inline-grid;
    text-align: center;
    justify-items: center;

    .image-div
    {
        height: 50%;
        width: 100%;
        margin: auto;

        #img-id
        {
            width: 30%;
            border-radius: 50px 150px;

            @media  only screen and (max-width: 600px) 
            {
                width: 50%;   
            }
        }
    }

    #starting-text--p
    {
        margin: auto;
        line-height: normal;
        font-size: 200%;
        justify-content: center;
        letter-spacing: auto;
        width: 40%;

        @media  only screen and (max-width: 600px) 
        {
            font-size: 150%;   
        }
    }
}

