<mat-toolbar color="secondary" class="navbar">
  <a class="a--nav-item" routerLink="/ubergabe">Übergabe an der Geschäftsstelle</a>

  <span class="span--space-filler"></span>

  <a class="a--nav-item" routerLink="/abholung">Abholung</a>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <div class="footer-content">
    <div class="footer-elements">
      <h4 class="text-uppercase">
        (C) {{currentYear}} Kleider Spenden Registrierung
      </h4>
    </div>
    <div class="link-content">
      <div class="footer-elements footer-elements-link">
        <a href="/legal.html" class="legal">Datenschutz</a>
      </div>
      <div class="footer-elements footer-elements-link">
        <a href="/impressum.html" class="legal">Impressum</a>
      </div>
    </div>
  </div>
</footer>